[Desktop Entry]
Name=Minuet
Name[ar]=منويت
Name[ca]=Minuet
Name[ca@valencia]=Minuet
Name[cs]=Minuet
Name[da]=Minuet
Name[de]=Minuet
Name[el]=Μινουέτο
Name[en_GB]=Minuet
Name[eo]=Minuet
Name[es]=Minuet
Name[et]=Minuet
Name[eu]=Minuet
Name[fi]=Minuet
Name[fr]=Minuet
Name[gl]=Minuet
Name[he]=מינואט
Name[it]=Minuet
Name[ka]=Minuet
Name[ko]=Minuet
Name[nl]=Minuet
Name[nn]=Minuet
Name[pl]=Minuet
Name[pt]=Minuet
Name[pt_BR]=Minuet
Name[ro]=Minuet
Name[ru]=Minuet
Name[sk]=Minuet
Name[sl]=Minuet
Name[sv]=Minuet
Name[tr]=Minuet
Name[uk]=Minuet
Name[zh_CN]=Minuet
Name[zh_TW]=Minuet
Exec=minuet
Icon=minuet
Type=Application
X-DocPath=minuet/index.html
GenericName=Music education software
Categories=Qt;KDE;Education;Music;X-KDE-Edu-Misc;
