[Desktop Entry]
Name=Minuet
Name[ar]=منويت
Name[ca]=Minuet
Name[ca@valencia]=Minuet
Name[cs]=Minuet
Name[da]=Minuet
Name[de]=Minuet
Name[el]=Μινουέτο
Name[en_GB]=Minuet
Name[eo]=Minuet
Name[es]=Minuet
Name[et]=Minuet
Name[eu]=Minuet
Name[fi]=Minuet
Name[fr]=Minuet
Name[gl]=Minuet
Name[he]=מינואט
Name[it]=Minuet
Name[ka]=Minuet
Name[ko]=Minuet
Name[nl]=Minuet
Name[nn]=Minuet
Name[pl]=Minuet
Name[pt]=Minuet
Name[pt_BR]=Minuet
Name[ro]=Minuet
Name[ru]=Minuet
Name[sk]=Minuet
Name[sl]=Minuet
Name[sv]=Minuet
Name[tr]=Minuet
Name[uk]=Minuet
Name[zh_CN]=Minuet
Name[zh_TW]=Minuet
Exec=minuet
Icon=minuet
Type=Application
X-DocPath=minuet/index.html
GenericName=Music education software
GenericName[ar]=برنامج تعلم موسيقى
GenericName[ca]=Programari d'educació musical
GenericName[ca@valencia]=Programari d'educació musical
GenericName[es]=Software de aprendizaje musical
GenericName[fr]=Logiciel d'apprentissage de la musique
GenericName[he]=תוכנה לחינוך מוזיקלי
GenericName[it]=Programma di educazione musicale
GenericName[ka]=მუსიკალური განათლების პროგრამა
GenericName[nl]=Software voor muziekonderwijs
GenericName[pt_BR]=Software para ensino de música
GenericName[sk]=Hudobný vzdelávací softvér
GenericName[sl]=Programje za glasbeno izobraževanje
GenericName[sv]=Programvara för musikutbildning
GenericName[tr]=Müzik Eğitimi Yazılımı
GenericName[uk]=Програмне забезпечення для навчання музики
Categories=Qt;KDE;Education;Music;X-KDE-Edu-Misc;
