[Desktop Entry]
Name=Minuet
Name[ast]=Minuet
Name[ca]=Minuet
Name[ca@valencia]=Minuet
Name[cs]=Minuet
Name[da]=Minuet
Name[de]=Minuet
Name[en_GB]=Minuet
Name[es]=Minuet
Name[et]=Minuet
Name[fr]=Minuet
Name[gl]=Minuet
Name[nl]=Minuet
Name[nn]=Minuet
Name[pl]=Minuet
Name[pt]=Minuet
Name[pt_BR]=Minuet
Name[ru]=Minuet
Name[sk]=Minuet
Name[sv]=Minuet
Name[tr]=Minuet
Name[uk]=Minuet
Name[x-test]=xxMinuetxx
Name[zh_CN]=Minuet
Name[zh_TW]=Minuet
Exec=minuet
Icon=minuet
Type=Application
X-DocPath=minuet/index.html
GenericName=Music Education Software
GenericName[ca]=Programari d'educació musical
GenericName[ca@valencia]=Programari d'educació musical
GenericName[da]=Software til musikundervisning
GenericName[de]=Musik-Lernprogramm
GenericName[en_GB]=Music Education Software
GenericName[es]=Software de aprendizaje musical
GenericName[et]=Muusika õpitarkvara
GenericName[fr]=Logiciel d'apprentissage de la musique
GenericName[gl]=Software de ensino musical
GenericName[nl]=Software voor muziekonderwijs
GenericName[nn]=Pedagogisk musikkprogram
GenericName[pl]=Muzyczne oprogramowanie edukacyjne 
GenericName[pt]=Aplicação de Educação Musical
GenericName[pt_BR]=Software para Ensino de Música
GenericName[sk]=Hudobný výukový softvér
GenericName[sv]=Programvara för musikutbildning
GenericName[tr]=Müzik Eğitim Yazılımı
GenericName[uk]=Програмне забезпечення для навчання музики
GenericName[x-test]=xxMusic Education Softwarexx
GenericName[zh_CN]=音乐教育软件
GenericName[zh_TW]=音樂教育軟體
Terminal=false
Categories=Qt;KDE;Education;X-KDE-Edu-Misc;
