[Desktop Entry]
Name=minuet
Name[ca]=minuet
Name[cs]=minuet
Name[da]=minuet
Name[de]=minuet
Name[en_GB]=minuet
Name[es]=minuet
Name[fi]=minuet
Name[gl]=minuet
Name[it]=minuet
Name[ko]=minuet
Name[nl]=minuet
Name[pl]=minuet
Name[pt]=minuet
Name[pt_BR]=minuet
Name[ru]=minuet
Name[sk]=minuet
Name[sl]=minuet
Name[sr]=minuet
Name[sr@ijekavian]=minuet
Name[sr@ijekavianlatin]=minuet
Name[sr@latin]=minuet
Name[sv]=minuet
Name[tr]=minuet
Name[uk]=minuet
Name[x-test]=xxminuetxx
Name[zh_TW]=minuet
Exec=minuet
Icon=minuet
Type=Application
X-DocPath=minuet/index.html
GenericName=A KDE Application
GenericName[ca]=Una aplicació del KDE
GenericName[cs]=Aplikace prostředí KDE
GenericName[da]=Et KDE-program
GenericName[de]=Eine KDE-Anwendung
GenericName[en_GB]=A KDE Application
GenericName[es]=Una aplicación para KDE
GenericName[fi]=KDE-sovellus
GenericName[gl]=Programa de KDE
GenericName[it]=Un'applicazione di KDE
GenericName[ko]=KDE 프로그램
GenericName[nl]=Een KDE-toepassing
GenericName[nn]=Eit KDE-program
GenericName[pl]=Program dla KDE
GenericName[pt]=Uma Aplicação do KDE
GenericName[pt_BR]=Um aplicativo do KDE
GenericName[ru]=Приложение KDE
GenericName[sk]=KDE Aplikácia
GenericName[sl]=Program za KDE
GenericName[sr]=КДЕ програм
GenericName[sr@ijekavian]=КДЕ програм
GenericName[sr@ijekavianlatin]=KDE program
GenericName[sr@latin]=KDE program
GenericName[sv]=Ett KDE-program
GenericName[tr]=Bir KDE4 Uygulaması
GenericName[uk]=Програма для KDE
GenericName[x-test]=xxA KDE Applicationxx
GenericName[zh_CN]=KDE 应用程序
GenericName[zh_TW]=KDE 應用程式
