[Desktop Entry]
Name=Minuet
Name[ca]=Minuet
Name[en_GB]=Minuet
Name[gl]=Minuet
Name[nl]=Minuet
Name[pl]=Minuet
Name[pt]=Minuet
Name[pt_BR]=Minuet
Name[sk]=Minuet
Name[uk]=Minuet
Name[x-test]=xxMinuetxx
Exec=minuet
Icon=minuet
Type=Application
X-DocPath=minuet/index.html
GenericName=Music Education Software
GenericName[ca]=Programari d'educació musical
GenericName[en_GB]=Music Education Software
GenericName[gl]=Software de ensino musical
GenericName[nl]=Software voor muziekonderwijs
GenericName[pl]=Muzyczne oprogramowanie edukacyjne 
GenericName[pt]=Aplicação de Educação Musical
GenericName[pt_BR]=Software de Educação Musical
GenericName[sk]=Hudobný výukový softvér
GenericName[uk]=Програмне забезпечення для навчання музики
GenericName[x-test]=xxMusic Education Softwarexx
Terminal=false
Categories=Qt;KDE;Education;X-KDE-Edu-Misc;
