[Desktop Entry]
Name=Minuet
Exec=minuet
Icon=minuet
Type=Application
X-DocPath=minuet/index.html
GenericName=Music Education Software
Terminal=false
Categories=Qt;KDE;Education;X-KDE-Edu-Misc;
